ul{
    width: calc(100% - 100px);
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    padding: 20px 40px;
    li{
        border: 1px solid rgba(0, 0, 0, 0.384);
        padding: 5px 10px;
        border-radius: 10px;
        transition: ease-in-out 0.3s;


        
        a{
            text-decoration: none;
            color: black;
        }

    
        &:hover{
            background-color: #00D8FF;
            border: 1px solid #00D8FF;
            scale: 1.1;
            
            a{
                color: white;
            }
        }
    }
}